.navbar {
  font-size: 16px;
}


/* Hover text in navbar is purple */
.navbar-nav li a:hover {
  color: #6914aa !important;
}


/* Hover text in links is purple */
a:hover {
  color: #6914aa;
}


/* Hover background color for button is purple */
.btn-primary:hover {
  background-color: #6914aa;
}


/* Add some padding around the footer */
footer {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 50px;
  /* Match the colors in the default .navbar-inverse class */
  /* https://github.com/twbs/bootstrap/blob/v3.3.7/dist/css/bootstrap.css#L4591 */
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
}


p {
  font-size: 16px;
}


intro {font-size: 32px;}


h1 {
  margin: 75px 0 0 0;
}


#projects img, #publications img {
  display: block;
  max-height: 250px;
  margin: 0 auto 10px auto;
}
