{% extends "_page.html" %}

{% block title %}John Blischak{% endblock %}

{% block content %}
<div id="intro" class="container">
  <p id="mission">
    Empowering researchers with computational tools and training
  </p>
  <img id="headshot" src="img/headshot-cropped.jpg" class="img-rounded" alt="John Blischak">
  <p style="font-size:2rem; text-align:center">
    Freelance Scientific Software Developer
  </p>
  <p style="text-align:center">
    <a style="font-size:4rem" href="https://github.com/jdblischak"><i class="fab fa-github"></i></a>
    <a style="font-size:4rem" href="https://twitter.com/jdblischak"><i class="fab fa-twitter"></i></a>
    <a style="font-size:4rem" href="https://www.linkedin.com/in/jdblischak"><i class="fab fa-linkedin"></i></a>
  </p>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Consulting</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Software development with R</li>
            <li>Version control with Git</li>
            <li>Bioinformatics pipelines</li>
            <li>Package management with conda</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Training</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Reproducible Research</li>
            <li>Version control with Git</li>
            <li>Introduction to the tidyverse</li>
            <li>Differential expression analysis</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Resources</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>R package <a href="workflowr.html">workflowr</a></li>
            <li>R package <a href="https://github.com/abbvie-external/OmicNavigator">OmicNavigator</a></li>
            <li><a href="presentations.html">Presentations</a></li>
            <li><a href="publications.html">Publications</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
