{% extends "_page.html" %}

{% block title %}John Blischak{% endblock %}

{% block content %}
<div id="intro" class="container" style="margin-top:100px">
  <p id="mission">
    Empowering researchers with computational tools and training
  </p>
  <img id="headshot" src="img/headshot-cropped.jpg" class="img-rounded" alt="John Blischak">
  <p style="font-size:1.5em; text-align:center">
    Freelance Scientific Software Developer
  </p>
  <p style="font-size:3em; text-align:center">
    <a href="https://github.com/jdblischak"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/jdblischak"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/jdblischak"><i class="fab fa-linkedin"></i></a>
  </p>
</div>
{% endblock %}
