{% extends "_page.html" %}

{% block title %}John Blischak{% endblock %}

{% block content %}
<div id="intro" class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-sm-4">
      <img src="img/headshot-cropped.jpg" class="img-responsive img-rounded"
        style="display:inline" width="75%" alt="John Blischak">
      <p style="font-size:32px">
        <a href="https://github.com/jdblischak"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/jdblischak"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/jdblischak"><i class="fab fa-linkedin"></i></a>
      </p>
    </div>
    <div class="col-sm-8">
      <p style="font-size:20px">
        I am a postdoctoral researcher with
        <a href="http://stephenslab.uchicago.edu/">Professor Matthew Stephens</a>
        in the
        <a href="https://genes.uchicago.edu/">Department of Human Genetics</a>
        at the
        <a href="https://www.uchicago.edu/">University of Chicago</a>.
        Currently I am focusing on the following projects:
      </p>
      <ol style="font-size:20px">
        <li>
          develop software to facilitate open and reproducible computational
          research
        </li>
        <li>
          build bioinformatics pipelines to analyze single-cell RNA
          sequencing
          data
        </li>
        <li>
          teach scientists how to use software development tools like version
          control
        </li>
      </ol>
    </div>
  </div>

</div>
{% endblock %}