{% extends "_page.html" %}

{% block title %}Blischak - Presentations{% endblock %}

{% block content %}
<div id="presentations" class="container">
  <div class="page-header">
    <h1>Selected presentations</h1>
  </div>

  <div class="row">
    <div class="col-sm-6  col-xs-12">
      <h3>The workflowr R package: a framework for reproducible and
        collaborative data science</h3>
      <h4><a href="https://user2018.r-project.org/">useR! 2018</a></h4>
      <h4>Brisbane, QLD</h4>
      <h4>Jul 2018</h4>
      <iframe src="https://www.youtube-nocookie.com/embed/GrqM2VqIQ20"
        style="margin: auto; display: block;"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-sm-6  col-xs-12">
      <h3>Introduction to the conda package manager for R users</h3>
      <h4><a href="https://www.meetup.com/Cleveland-UseR-Group/events/255967910/">Greater
          Cleveland R Group</a></h4>
      <h4>Independence, OH</h4>
      <h4>Dec 2018</h4>
      <iframe src="https://www.youtube-nocookie.com/embed/ag25635lQQU"
        style="margin: auto; display: block;"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>

</div>
{% endblock %}
