{% extends "_page.html" %}

{% block title %}Blischak - Projects{% endblock %}

{% block content %}
<div id="projects" class="container">
  <div class="page-header">
    <h1>Projects</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <img src="https://raw.githubusercontent.com/workflowr/workflowr-assets/master/img/hex-workflowr.png"
        alt="workflowr hex sticker">
      <p>
        The workflowr R package combines R Markdown and version control (Git)
        to create a website containing time-stamped, versioned, and
        documented
        results.
      </p>
      <p>
        <a href="https://cran.r-project.org/package=workflowr" class="btn btn-primary"
          role="button">Release</a>
        <a href="https://github.com/jdblischak/workflowr" class="btn btn-primary"
          role="button">Source</a>
        <a href="https://www.youtube.com/watch?v=O1wv94sZfvE" class="btn btn-primary"
          role="button">Video</a>
      </p>
    </div>
    <!--
    <div class="col-sm-6 col-xs-12">
      <img src="https://assets.datacamp.com/production/course_6456/shields/original/shield_image_course_6456_20181011-13-httijz?1539256948"
        alt="DataCamp course logo for Differential Expression Analysis in R with limma">
      <p>
        I created the DataCamp course "Differential Expression Analysis in R
        with limma" that teaches how to use the versatile R/Bioconductor
        package limma to perform a differential expression analysis on the
        most common experimental designs.
      </p>
      <p>
        <a href="https://www.datacamp.com/courses/differential-expression-analysis-in-r-with-limma"
          class="btn btn-primary" role="button">DataCamp</a>
        <a href="https://jdblischak.github.io/dc-bioc-limma/" class="btn btn-primary"
          role="button">Source</a>
      </p>
    </div>
        -->
  </div>
</div>
{% endblock %}
